# Irrelevant files ignored for performance reasons.
node_modules
*.min.js
**/lib/
public/
coverage/
**/vendor/
.mypy_cache
/coverage_html_report
legacy/
_build
# Files which contain incompatible syntax.
*.html
# Formatted with Biome
*.json
*.jsonc
*.ts
*.js
*.yml
*.yaml
